@import '../../assets/variables.scss';

.title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;

  &_type {
    &_main-title {
      max-width: 440px;
      font-weight: 900;
      font-size: 29px;
      line-height: 35px;
      color: $text-dark;

      @media screen and (min-width: 1920px) {
        max-width: 1182px;
        font-size: 78px;
        line-height: 94px;
      }
    }

    &_main-subtitle {
      max-width: 316px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.155em;

      @media screen and (min-width: 1920px) {
        max-width: 618px;
        font-size: 50px;
        line-height: 61px;
      }
    }

    &_section-title {
      max-width: 439px;
      font-weight: 500;
      font-size: 39px;
      line-height: 47px;
      text-transform: uppercase;

      @media screen and (min-width: 1920px) {
        max-width: 866px;
        font-weight: 500;
        font-size: 39px;
        line-height: 47px;
      }
    }

    &_catalog-title {
      max-width: 388px;
      font-weight: 700;
      font-size: 39px;
      line-height: 47px;
      text-transform: uppercase;
      color: $text-light;

      @media screen and (min-width: 1920px) {
        max-width: 866px;
      }
    }

    &_section-subtitle {
      max-width: 444px;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;

      @media screen and (min-width: 1920px) {
        max-width: 690px;
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
}
