@import '../../assets/variables.scss';

.certificate-section {
  max-width: 1100px;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: $dark;
  position: relative;

  @media screen and (min-width: 1100px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    display: block;
    max-width: 80%;
    margin: 65px auto 35px;
    flex: 1 0 auto;

    @media screen and (min-width: 768px) {
      margin: 165px auto 65px;
    }
  }

  &__subtitle {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
  }

  &__certificate {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media screen and (min-width: 1100px) {
      max-width: 60%;
      z-index: 2;
      position: absolute;
      top: 40%;
      left: -10%;
    }

    &_opened {
      max-width: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 5;

      & .certificate-section__btn {
        top: 5%;
        bottom: auto;
        left: auto;
        right: 5%;
      }

      @media screen and (min-width: 768px) {
        & .certificate-section__btn {
          top: 15%;
          bottom: auto;
          left: 60%;
          right: auto;
        }
      }
    }
  }

  &__equipment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__equipment-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    max-width: 230px;
    margin: 50px 0 0;
    z-index: 2;

    @media screen and (min-width: 480px) {
      margin: 50px 15% -50px 0;
    }

    @media screen and (min-width: 768px) {
      max-width: 250px;
    }

    @media screen and (min-width: 1100px) {
      margin-bottom: -100px;
    }
  }

  &__img {
    width: 100%;

    &_type {
      &_certificate {
        @media screen and (min-width: 768px) {
          width: 50%;
        }
      }
      &_equipment {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
          max-width: 600px;
        }
      }
    }
  }

  &__btn {
    position: absolute;
    top: auto;
    bottom: 30%;
    left: 5%;
    right: auto;

    @media screen and (min-width: 768px) {
      top: 50%;
      bottom: auto;
      left: 15%;
      right: auto;
    }
  }

  &__cards-list {
    margin: 0 auto;
    flex: 1 0 auto;
  }
}
