@import '../../assets/variables.scss';

.text-element {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: $dark;

  &_type {
    &_main-title {
      font-weight: 900;
      font-size: 28px;
      line-height: calc(35px / 28px);

      @media screen and (min-width: 481px) and (max-width: 1919px) {
        font-size: calc(2.25rem + 2vw);
      }

      @media screen and (min-width: 1920px) {
        font-size: 78px;
        line-height: calc(94px / 78px);
      }
    }

    &_main-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: calc(24px / 20px);
      letter-spacing: 0.155em;

      @media screen and (min-width: 481px) and (max-width: 1919px) {
        font-size: calc(1.25rem + 2vw);
      }

      @media screen and (min-width: 1920px) {
        font-size: 50px;
        line-height: calc(61px / 50px);
        letter-spacing: 0;
      }
    }

    &_section-title {
      font-weight: 500;
      font-size: 39px;
      line-height: calc(47px / 39px);
      text-transform: uppercase;

      @media screen and (min-width: 481px) and (max-width: 1919px) {
        font-size: calc(2.4375rem + 2vw);
      }

      @media screen and (min-width: 1920px) {
        font-weight: 500;
        font-size: 39px;
        line-height: calc(47px / 39px);
      }
    }

    &_catalog-title {
      font-weight: 700;
      font-size: 39px;
      line-height: calc(47px / 39px);
      text-transform: uppercase;
      color: $light;

      @media screen and (min-width: 481px) and (max-width: 1919px) {
        font-size: calc(2.4375rem + 2vw);
      }
    }

    &_section-subtitle {
      font-weight: 500;
      font-size: 22px;
      line-height: calc(27px / 22px);

      @media screen and (min-width: 481px) and (max-width: 1919px) {
        font-size: calc(1.375rem + 2vw);
      }

      @media screen and (min-width: 1920px) {
        font-size: 30px;
        line-height: calc(36px / 30px);
      }
    }

    &_section-text {
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      opacity: 0.35;
    }

    &_accept-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.17;
    }
  }
}
