@import '../../assets/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }

  &__logo {
    max-width: 45%;
    margin-top: -25px;

    @media screen and (min-width: 720px) {
      max-width: 55%;
      margin: -25px auto 0;
    }

    @media screen and (min-width: 1920px) {
      margin-top: -40px;
      max-width: 44%;
      margin-left: 230px;
    }
  }

  &__business-info {
    margin-top: 45px;
    margin-right: 20px;
    max-width: 45%;

    @media screen and (min-width: 1920px) {
      margin-top: 75px;
      margin-right: 210px;
    }
  }
}
