@import '../../assets/variables.scss';

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 17px;

  @media screen and (min-width: 1920px) {
    gap: 0;
    justify-content: center;
  }

  &__item {
    &:nth-child(odd) .card {
      @media screen and (min-width: 1920px) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:nth-child(even) .card {
      @media screen and (min-width: 1920px) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
