@import '../../assets/variables.scss';

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url('./intro_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1920px) {
      max-width: 1200px;
    }
  }

  &__title {
    margin-top: 55px;

    @media screen and (min-width: 1920px) {
      margin-top: 0;
    }
  }

  &__subtitle {
    margin-top: 16px;

    @media screen and (min-width: 1920px) {
      margin-top: 38px;
    }
  }

  &__advantage-list {
    margin-top: 25px;

    @media screen and (min-width: 1920px) {
      margin-top: 35px;
    }
  }

  &__callback-form {
    margin-top: 40px;

    @media screen and (min-width: 1920px) {
      margin-top: 65px;
    }
  }
}
